<ion-header>
  <ion-toolbar>
    <ion-title>css-table</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <table class="content-table">
      <thead>
        <tr>
          <th>Project</th>
          <th>Name</th>
          <th>Points</th>
          <th>Team</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Domenic</td>
          <td>88110</td>
          <td>dcode</td>
        </tr>
        <tr class="active-row">
          <td>2</td>
          <td>Sally</td>
          <td>72400</td>
          <td>Students</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Captain</td>
          <td>987654</td>
          <td>Avenger</td>
        </tr>
      </tbody>
    </table>
  </ion-grid>

</ion-content>